
.header {
    color: rgb(21, 27, 38);
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 0;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    color: #14aaf5;
}

button:hover {
    color: #32c1ff;
    text-decoration: underline;
    cursor: pointer;
}

.integration-name {
    font-weight: 600;
}

.activate {
    float: right;
    color: rgb(183, 191, 198);
    font-size: 13px;
}

.activate:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #e0e6e8;
}

.integration-container {
    padding: 5px 0;
}

.deactivate {
    float: right;
}

.reconfigure {
    margin-right: 5px;
    float: right;
}

.reconfigure:hover, .deactivate:hover {
    cursor: pointer;
}

.workflow-header {
    color: #848f99;
    font-size: 11px;
    border-bottom: 1px solid #e0e6e8;
    width: 100%;
    margin-bottom: 5px;
}

.app-name {
    margin-bottom: 5px;
}

.demo-container {
    margin: 0 auto;
    background: transparent;
    text-align: center;
    width: 80%;
}

.demo-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding: 32px;
}

.demo-grid:not(:last-child) {
    margin-bottom: 32px;
}

.demo-grid-item-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    overflow: hidden;
}

.demo-grid-item-content > *:not(:last-child) {
    margin-bottom: 32px;
}

.demo-grid-item-content-img {
    max-width: 80%;
}

.demo-grid-item-content-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

body { 
    overflow: hidden;
}