
.header {
    color: rgb(21, 27, 38);
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 0;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    color: #14aaf5;
}

button:hover {
    color: #32c1ff;
    text-decoration: underline;
    cursor: pointer;
}

.integration-name {
    font-weight: 600;
}

.activate {
    float: right;
    color: rgb(183, 191, 198);
    font-size: 13px;
}

.activate:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #e0e6e8;
}

.integration-container {
    padding: 5px 0;
}

.deactivate {
    float: right;
}

.reconfigure {
    margin-right: 5px;
    float: right;
}

.reconfigure:hover, .deactivate:hover {
    cursor: pointer;
}

.workflow-header {
    color: #848f99;
    font-size: 11px;
    border-bottom: 1px solid #e0e6e8;
    width: 100%;
    margin-bottom: 5px;
}

.app-name {
    margin-bottom: 5px;
}

.demo-container {
    padding: 20px;
    background: white;
}
